.MuiInput-root {
  width: 100px;
}
.expansion-interval {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}

form {
  display: flex;
  align-items: flex-end;
}
.MuiFormControl-marginNormal {
  margin-left: 20px !important;
}
form button {
  margin-left: 60px !important;
}
.MuiExpansionPanelSummary-content {
  display: unset !important;
}
.MuiExpansionPanelSummary-content h4 {
  margin-bottom: 5px;
}
