.inputs {
  width: 500;
  margin: 50;
}
.inputs input {
  width: 100px;
  margin-right: 20px;
  margin-left: 5px;
  height: 20px;
}
.inputs label {
  min-width: unset !important;
}
.MuiExpansionPanelDetails-root {
  flex-direction: column !important;
}
.MuiExpansionPanelDetails-root button {
  align-self: flex-start;
}
form {
  display: flex;
  align-items: center;
}
.interval-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interval-add {
  display: flex;
  height: 45px;
  align-items: flex-end;
}
.interval-add button {
  margin-left: 20px;
  height: 45px;
}

label + .MuiInput-formControl {
  width: 80px;
  margin-top: 0;
}
.MuiOutlinedInput-notchedOutline {
  width: 50px;
}
.interval-add .MuiFormControl-marginNormal {
  margin-bottom: 0 !important;
}
.interval-add .MuiSelect-outlined.MuiSelect-outlined {
  padding-top: 10px !important;
  display: flex;
}
.interval-titles {
  display: flex;
}
.interval-titles span,
.interval-line span {
  display: inline-block;
  width: 80px;
  text-align: center;
}
